* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-app {
    height: 100vh;
    background-color: black;

}

body {
    background-color: black;
}

img {
    width: 100%;
}

.space-view {
    color: white;
    background-color: rgba(190, 190, 190, 0.6);
    border-radius: 5px;
    padding: 5px;

}

.buttonright {
    color: white;
    background-color: rgba(190, 190, 190, 0.6);
    border-radius: 5px;
    padding: 5px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}



.card {
    width: calc(100% / 7);
    border: 2px solid black;
    position: relative;


}

.pinco {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6)
}

header {
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}